@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply inline;
  }
}
@layer components{
    .btn{
      @apply p-2 border-gray-400 border rounded 
    }
    .btn--primary{
      @apply bg-gray-900 text-white hover:bg-gray-700
    }
    .input-control{
        @apply p-2 border-gray-400 border rounded bg-white focus:border-gray-500 focus:outline-0
    }
    .inputGroup{
      @apply mb-2
    }
    .nav-link{
      @apply px-5 
    }
    .container{
      @apply xl:max-w-[1200px] mx-auto
    }
    .card{
      @apply bg-white rounded-md p-3 drop-shadow-md h-full
    }
    .row{
      @apply flex flex-wrap gap-2 mx-[-16px]
    }
    .col-4{
      @apply w-[32.333333%]
    }
    .offer-tag{
      @apply text-[.7rem] pl-[4px] text-left border-l border-gray-200 font-semibold
    }
  }
  
  :root {
    --body-bg: #f3f4f9;
    --bg-container:#fff;
    --border-gray : #ddd;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --body-font : Montserrat, sans-serif;
    --border-card: #d3e6f3;
  }

  .offer-tag{
    writing-mode: vertical-lr;
    transform: rotate(180deg)
  }